        .tab {
            border-bottom: 5px solid #93B5C9;
        }
        
        .tab>div {
            display: flex;
            justify-content: center;
        }
        
        .tab_item {
            border-bottom: 5px solid #93B5C9;
            width: 264px;
            padding: 20px 0;
            transform: translateY(5px);
        }
        
        .tab_item a {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            color: #93B5C9;
        }
        
        .tab_item__active {
            border-bottom: 5px solid #284A76;
        }
        
        .tab_item__active a {
            color: #284A76;
        }
        
        .covidCard {
            font-family: Montserrat;
            font-style: normal;
            font-size: 24px;
            line-height: 29px;
            height: 400px;
            background: #D5E7FE;
            border-radius: 10px;
            margin: 40px 0;
            display: flex;
            padding: 20px;
            gap: 50px;
            /* align-items: center; */
        }
        
        .covid_img {
            width: 425px;
            height: 360px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px;
        }
        
        .covid_info {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            padding: 15px 0;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        .covid_info li {
            margin: 15px 0;
        }
        
        .covid_info__list {
            display: flex;
            gap: 20px;
            /* justify-content: space-between; */
        }
        
        .covid_info__list span {
            display: block;
        }
        /* .covid_info__list span:last-child {
        flex-grow: 1;
    } */
        
        .covid_info__list>span:first-child {
            width: 135px;
        }
        
        .covid_info a {
            font-weight: 600;
            color: #284A76;
        }
        
        .tab>.container {
            gap: 30px;
        }
        
        @media (max-width: 992px) {
            .covid_img {
                width: 630px;
            }
            .tab_item {
                width: 230px;
            }
            .covidCard {
                margin: 50px auto;
                width: 670px;
                height: 777px;
                flex-direction: column;
                gap: 20px;
            }
            .covid_info {
                padding: 0;
            }
            .covid_info .button {
                margin: auto;
            }
        }
        
        @media (max-width: 480px) {
            .covid_img {
                width: 330px;
                height: 243px;
            }
            .covidCard .button {
                margin: 0 auto;
            }
            .tab>.container {
                display: flex;
            }
            .tab,
            .tab_item {
                border: none;
                padding: 0;
            }
            .tab_item a {
                font-size: 10px;
                line-height: 12px;
            }
            .covidCard {
                margin: 60px auto;
                width: 350px;
                height: 680px;
                font-size: 18px;
                line-height: 22px;
            }
            .covid_img {
                width: 100%
            }
        }