.row .poster_card {
    width: 300px;
    height: 541px;
    margin-bottom: 20px;
    padding: 5px;
    padding-top: 25px;
    background: #d5e7fe;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.row .poster_card>ul {
    margin: 15px auto auto 20px;
}

.poster_bottons button:first-child {
    margin-bottom: 10px;
}

.poster_card__copy {
    border: 1px solid #284a76;
    padding: 3px;
    border-radius: 5px;
    color: #284a76;
}